<% provide(:title, 'Sign up') %>
<div id="loading"></div>

<div id="contentContainer">
<div id="content">

<div id="main">
	<div id="handle"></div>
	<div id="closeBox"></div>
	
	<h2 class="entrytitle">Sign Up</h2>
	
	<!--BREADCRUMBS-->
	<div id="crumbs"><a href="/">Home</a> &nbsp;/&nbsp; <span class="current">Sign Up</span></div>
    <h1>Sign up</h1>
    <%= form_for(@user) do |f| %>
	  <%= render 'shared/error_messages' %>
	  
      <%= f.label :name %>
      <%= f.text_field :name %>
		<br />
      <%= f.label :email %>
      <%= f.text_field :email %>
		<br />
      <%= f.label :password %>
      <%= f.password_field :password %>
		<br />
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>
      
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</div>

