<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <!--GOOGLE CUSTOM FONT LINK-->
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Gruppo', 'style','prettyPhoto','application' %>
  <!--SCRIPTS-->
  <%= javascript_include_tag 'jquery.min.js','jquery-ui-1.8.13.custom.min.js','prettyphoto.js','activity.js','http://maps.google.com/maps/api/js?sensor=false', 'gmap3.min.js','jquery.backstretch.min.js','jquery.animate-colors-min.js','custom.js',  'https://apis.google.com/js/plusone.js' %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
	<%= yield %>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= render 'layouts/footer' %>

</body>
</html>
